<div id="left-side-header">
    <a href="">UrFridge</a>
</div>
<nav id="right-side-header">
    <a href="" class="mobile"><img src="{{ asset('img/hamburger-mobile-menu.svg') }}" alt=""></a>
    <a href="" class="desktop btn__proposer">Proposer recette</a>
    <a href="" class="desktop btn__favoris">Mes recettes favorites</a>
    <a href="" class="desktop btn__recherche">Chercher une recette</a>
    <a href="" class="tablet"><img src="{{ asset('img/suggest-recipe-tablet.svg') }}" alt=""></a>
    <a href="" class="tablet"><img src="{{ asset('img/favorite-recipe-tablet.svg') }}" alt=""></a>
    <a href="" class="tablet"><img src="{{ asset('img/find-recipe-tablet.svg') }}" alt=""></a>
    <a href="" id="auth-button" class="desktop"><img src="{{ asset('img/auth.svg') }}" alt=""></a>
</nav>
