<div class="header-logo-area">
    <a href="/">UrFridge</a>
</div>
<nav class="header-nav">
    <a href="#" class="hamburger">
        <img src="{{ asset('img/hamburger-mobile-menu.svg') }}" alt="">
    </a>

    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
    <a href="{{ path('app_person_favorites') }}" class="header-navlink">
        Mes recettes favorites
    </a>
    <a href="{{ path('app_person_favorites') }}" class="header-navlink-icon">
        <img src="{{ asset('img/favorite-recipe-tablet.svg') }}" alt="Mes recettes favorites">
    </a>
    {% endif %}


    <a href="{{ path('app_recipe') }}" class="header-navlink">
        Chercher une recette
    </a>



    <a href="{{ path('app_recipe') }}" class="header-navlink-icon">
        <img src="{{ asset('img/find-recipe-tablet.svg') }}" alt="Chercher une recette">
    </a>


    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
    <a href="{{ path('app_profil') }}" class="auth header-navlink">
        Mon profil
    </a>
    <a href="{{ path('app_profil') }}" class="auth header-navlink-icon">
        <img src="{{ asset('img/auth.svg') }}" alt="Accéder à mon profil">
    </a>
    {% else %}
    <a href="{{ path('app_login') }}" class="auth header-navlink">
        Se connecter
    </a>
    <a href="{{ path('app_login') }}" class="auth header-navlink-icon">
        <img src="{{ asset('img/auth.svg') }}" alt="Connexion">
    </a>
    {% endif %}
</nav>
