{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/style-index.css') }}">
    <link rel="preload" href="{{ asset('js/overlapping-box.js') }}" as="script">
    <link rel="preload" href="{{ asset('js/search-recipe.js') }}" as="script">
{% endblock %}

{% block body %}
    <section class="main-interaction-area">
        <section class="search-recipes-area" id="recipes-research-area">
            <h1 class="title">Qu'allons nous cuisiner aujourd'hui ?</h1>
            <form class="search-area">
                <div class="search-bar">
                    <input type="search" name="search-recipes" autocomplete="off"
                           id="search-recipes" class="search-input" placeholder="Tartiflette, Salade de fruit..." value="">
                    <img src="{{ asset('img/loop.png') }}" alt="loupe">
                </div>
            </form>
        </section>
        <section class="filters-with-result-statistics-area" id="filters-area-box">
            <div class="result-statistics-area">
                <p class="results-number">
                    <span id="res-number">0</span> Résultat(s)
                </p>
            </div>
            {% include 'partials/_allergens-category-filter-area.html.twig' %}
        </section>
        {% include 'partials/_allergens-cat-filter-box.html.twig' %}
    </section>
    <section class="recipes-list">
        <p class="no-recipe">Bientôt de délicieux plats apparaitront ici</p>
    </section>

    {% block javascripts %}
        <script type="module" src="{{ asset('js/search-recipe.js') }}"></script>
    {% endblock %}

{% endblock %}

