{% extends 'base.html.twig' %}

{% block title %} {{ recipe.recipeName}} {% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/style-recipe-page.css') }}">
{% endblock %}

{% block body %}

    <link rel="preload" href="{{ asset('js/recipe-page.js') }}">
    <link rel="icon" href="{{ asset('img/logo/icon.png') }}" type="image/x-icon">

    <main class="content">
        <section class="recipe-presentation-area">
            <section class="recipe-presentation-top-area">
                <article class="recipe-name-with-author">
                    <h2 class="recipe-name">{{ recipe.recipeName }}</h2>
                    <h1 class="recipe-author">{% if recipe.author is not null %} Par {{ recipe.author.firstname }} {% endif %}</h1>
                </article>
                <button class="recipe-favorite-button">
                    <img class="recipe-favorite-illustration" src="{{ asset('img/empty-heart.svg') }}" alt="ajouter aux favoris">
                </button>
            </section>
            <article class="recipe-steps-numbers-area">
                <p class="recipe-steps-numbers">{{ numberOfStep}} Etapes</p>
            </article>
        </section>
        <section class="recipe-information-area">
            <section class="recipe-classify-area">
                <article class="recipe-allergens-area">
                    <h1 class="recipe-allergens-title">Allergènes</h1>
                    <div class="recipe-allergens-list">
                        <p class="recipe-allergen">Allergène</p>
                        <p class="recipe-allergen">Allergène</p>
                        <p class="recipe-allergen">Allergène</p>
                    </div>
                </article>
                <article class="recipe-categories-area">
                    <h1 class="recipe-categories-title">Catégories</h1>
                    <div class="recipe-categories-list">
                        <p class="recipe-category">Catégorie</p>
                        <p class="recipe-category">Catégorie</p>
                        <p class="recipe-category">Catégorie</p>
                    </div>
                </article>
            </section>
            <article class="recipe-quantity-area">
                <h1 class="recipe-quantity-title">Nombre de personnes</h1>
                <div class="recipe-quantity-selector">
                    <button class="recipe-quantity-more">
                        <img src="{{ asset('img/left_arrow.svg') }}" alt="Augmenter">
                    </button>
                    <p class="recipe-quantity">X Personnes</p>
                    <button class="recipe-quantity-less">
                        <img src="{{ asset('img/right_arrow.svg') }}" alt="Réduire">
                    </button>
                </div>
            </article>
        </section>
        <section class="recipe-realization-area">
            <article class="recipe-ingredients-area">
                <h1 class="recipe-ingredients-title">Ingrédients</h1>
                <div class="recipe-ingredients-list">
                    <div class="recipe-ingredient">
                        <img class="recipe-ingredient-picture" src="{{ asset('img/tomato.jpg') }}" alt="Image de nom ingrédient">
                        <article class="recipe-ingredient-informations">
                            <h1 class="recipe-ingredient-title">Nom ingrédient</h1>
                            <div class="recipe-ingredient-quantity-area">
                                <p class="recipe-ingredient-quantity-label">Quantité : </p>
                                <p class="recipe-ingredient-quantity">X</p>
                            </div>
                        </article>
                    </div>
                    <div class="recipe-ingredient">
                        <img class="recipe-ingredient-picture" src="{{ asset('img/tomato.jpg') }}" alt="Image de nom ingrédient">
                        <article class="recipe-ingredient-informations">
                            <h1 class="recipe-ingredient-title">Nom ingrédient</h1>
                            <div class="recipe-ingredient-quantity-area">
                                <p class="recipe-ingredient-quantity-label">Quantité : </p>
                                <p class="recipe-ingredient-quantity">X</p>
                            </div>
                        </article>
                    </div>
                    <div class="recipe-ingredient">
                        <img class="recipe-ingredient-picture" src="{{ asset('img/tomato.jpg') }}" alt="Image de nom ingrédient">
                        <article class="recipe-ingredient-informations">
                            <h1 class="recipe-ingredient-title">Nom ingrédient</h1>
                            <div class="recipe-ingredient-quantity-area">
                                <p class="recipe-ingredient-quantity-label">Quantité : </p>
                                <p class="recipe-ingredient-quantity">X</p>
                            </div>
                        </article>
                    </div>
                    <div class="recipe-ingredient">
                        <img class="recipe-ingredient-picture" src="{{ asset('img/tomato.jpg') }}" alt="Image de nom ingrédient">
                        <article class="recipe-ingredient-informations">
                            <h1 class="recipe-ingredient-title">Nom ingrédient</h1>
                            <div class="recipe-ingredient-quantity-area">
                                <p class="recipe-ingredient-quantity-label">Quantité : </p>
                                <p class="recipe-ingredient-quantity">X</p>
                            </div>
                        </article>
                    </div>
                </div>
            </article>
            <article class="recipe-tools-area"></article>
            <h1 class="recipe-tools-title">Ustensiles</h1>
            <div class="recipe-tools-list">
                <a href="#" class="recipe-tool">
                    <img class="recipe-tool-picture" src="{{ asset('img/marmite.jpg') }}" alt="Image de nom ustensile">
                    <article class="recipe-tool-informations">
                        <h1 class="recipe-tool-title">Nom ustensile</h1>
                    </article>
                </a>
                <a href="#" class="recipe-tool">
                    <img class="recipe-tool-picture" src="{{ asset('img/marmite.jpg') }}" alt="Image de nom ustensile">
                    <article class="recipe-tool-informations">
                        <h1 class="recipe-tool-title">Nom ustensile</h1>
                    </article>
                </a>
                <a href="#" class="recipe-tool">
                    <img class="recipe-tool-picture" src="{{ asset('img/marmite.jpg') }}" alt="Image de nom ustensile">
                    <article class="recipe-tool-informations">
                        <h1 class="recipe-tool-title">Nom ustensile</h1>
                    </article>
                </a>
            </div>
            <article class="recipe-steps-area">
                <h1 class="recipe-steps-title">Etapes</h1>
                <div class="recipe-steps-list">
                    <div class="recipe-step">
                        <h1 class="recipe-step-title">Etape X</h1>
                        <p class="recipe-step-description">
                            Description d'une étape plus ou moins longue
                            lors de la réalisation de la recette en question
                        </p>
                    </div>
                    <div class="recipe-step">
                        <h1 class="recipe-step-title">Etape X</h1>
                        <p class="recipe-step-description">
                            Description d'une étape plus ou moins longue
                            lors de la réalisation de la recette en question
                        </p>
                    </div>
                    <div class="recipe-step">
                        <h1 class="recipe-step-title">Etape X</h1>
                        <p class="recipe-step-description">
                            Description d'une étape plus ou moins longue
                            lors de la réalisation de la recette en question
                        </p>
                    </div>
                </div>
            </article>
        </section>
    </main>
    <section class="recipe-commentaries-area">
        <h2 class="recipe-commentaries-title">Commentaires</h2>
        <form class="recipe-commentary-write-area">
            <textarea class="recipe-commentary-write" name="commentary" id="commentary"
                      placeholder="Laissez votre avis" rows="1" required></textarea>
            <button class="recipe-commentary-submit" type="submit">
                Envoyer
            </button>
        </form>
        <section class="recipe-commentaries-list">
            <div class="recipe-commentary blue">
                <div class="recipe-commentary-author blue-back">
                    <img class="recipe-commentary-author-profile-picture" src="{{ asset('img/profilePicture.jpg') }}"
                         alt="photo de profil de Nom utilisateur">
                    <h1 class="recipe-commentary-author-username">
                        Nom utilisateur
                    </h1>
                </div>
                <p class="recipe-commentary-content">
                    Un commentaire intéressant sur la recette et un retour à prendre en compte.
                </p>
            </div>
            <div class="recipe-commentary orange">
                <div class="recipe-commentary-author orange-back">
                    <img class="recipe-commentary-author-profile-picture" src="{{ asset('img/profilePicture.jpg') }}"
                         alt="photo de profil de Nom utilisateur">
                    <h1 class="recipe-commentary-author-username">
                        Nom utilisateur
                    </h1>
                </div>
                <p class="recipe-commentary-content">
                    Un commentaire intéressant sur la recette et un retour à prendre en compte.
                </p>
            </div>
            <div class="recipe-commentary green">
                <div class="recipe-commentary-author green-back">
                    <img class="recipe-commentary-author-profile-picture" src="{{ asset('img/profilePicture.jpg') }}"
                         alt="photo de profil de Nom utilisateur">
                    <h1 class="recipe-commentary-author-username">
                        Nom utilisateur
                    </h1>
                </div>
                <p class="recipe-commentary-content">
                    Un commentaire intéressant sur la recette et un retour à prendre en compte.
                </p>
            </div>
        </section>
    </section>

    {% block javascripts %}
        <script src="{{ asset('js/recipe-page.js') }}"></script>
    {% endblock %}

{% endblock %}