<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{% block title %}Bienvenue sur UrFridge{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('css/style-base.css') }}">
        <link rel="icon" href="{{ asset('img/logo/favicon-fridge.svg') }}" type="image/x-icon">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <header class="header-area">
            {% block header %}
                {% include 'partials/_header.html.twig' %}
            {% endblock %}
        </header>

        <nav class="header-nav-hamburger">
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <a href="{{ path('app_person_favorites') }}" class="header-navlink-hamburger">
                Mes recettes favorites
            </a>
            {% endif %}
            <a href="{{ path('app_recipe') }}" class="header-navlink-hamburger">
                Chercher une recette
            </a>
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <a href="{{ path('app_profil') }}" class="header-navlink-hamburger">
                    Mon Profil
                </a>
            {% else %}
            <a href="{{ path('app_login') }}" class="header-navlink-hamburger">
                Se connecter
            </a>
            {% endif %}


        </nav>

            {% block body %}
            {% endblock %}

        <footer class="footer-area">
            {% block footer %}
                {% include 'partials/_footer.html.twig' %}
            {% endblock %}
        </footer>

        {% block javascripts %}
        {% endblock %}
    </body>
</html>
